<mat-spinner *ngIf="loading"></mat-spinner>

<div class="pages">
  <div class="container" *ngIf="post">
    <div><img class="avatar" src="assets/penguin.jpg" /></div>
    <div class="main-text">
      <div class="title">{{ post.title }}</div>
      <div><img class="centerImg" src="{{ post.coverImage.url }}" /></div>
      <div class="content"><p [innerHTML]="post.content"></p></div>
      <div><button [routerLink]="['/blog']" class="raised-button">Back</button></div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<footer-generic></footer-generic>
