footer {
  width: 100%;
  text-align: center;
  background-image: url("/assets/circles-light.png");
  color: #333333;
}
.butter-cms {
  width: 12%;
}

@media screen and (max-width: 810px) {
  .butter-cms {
    width: 40%;
  }
}
