<div class="pages">
  <h1>GitHub</h1>
  <div class="container" *ngFor="let repository of repositories">
    <div><img class="avatar" src="assets/penguin.jpg" /></div>
    <div class="main-text">
      <div class="title">{{ repository.node.name }}</div>
      <div class="description">{{ repository.node.description }}</div>
      <div class="language" *ngFor="let language of repository.node.languages.edges">{{ language.node.name }} &nbsp;</div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<footer-generic></footer-generic>
