<mz-navbar>
  <mz-navbar-item-container [align]="'left'">
    <mz-navbar-item>Your Task Curator</mz-navbar-item>
  </mz-navbar-item-container>
  <div class="center">
  <mz-navbar-item-container>
    <mz-navbar-item>
      <mz-input-container class="col s12">
        <input mz-input id="search-input" placeholder="Search" type="email">
      </mz-input-container>
    </mz-navbar-item>
  </mz-navbar-item-container>
  </div>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a>Username</a></mz-navbar-item>
    <mz-navbar-item><a>Logout</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
