.banner {
  background: url("../../../assets/jumbotron.webp") repeat center, url("../../../assets/jumbotron.png") repeat center;
  background-size: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.jumbotron-text {
  position: fixed;
  bottom: 100px;
  right: 100px;
  text-align: right;
  color: #FFFFFF;
}
h1 {
  font-size: 63px;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 200;
}
@media screen and (max-width: 810px) {
  .banner {
    background: url("../../../assets/jumbotron.webp") repeat center, url("../../../assets/jumbotron.png") repeat center;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .jumbotron-text {
    position: fixed;
    bottom: 50px;
    right: 15px;
    text-align: right;
    color: #FFFFFF;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  p {
    font-size: 1.12rem;
  }
}
