p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
@media screen and (min-width: 810px) {
  .banner {
    background: url("../../../assets/jumbotron.png") repeat center;
    position: fixed;
    top: 113px;
    bottom: 40px;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
  }
  .jumbotron-text {
    position: fixed;
    bottom: 100px;
    right: 100px;
    text-align: right;
    color: #FFFFFF;
  }
  h1 {
    font-size: 63px;
  }
}
@media screen and (max-width: 810px) {
  .banner {
    background: url("../../../assets/jumbotron.png") repeat center;
    background-size: 100% 100%;
    min-height: 550px;
    margin-bottom: 20px;
  }
  .jumbotron-text {
    position: fixed;
    bottom: 100px;
    right: 10px;
    text-align: right;
    color: #FFFFFF;
  }
}
