<mz-sidenav [id]="'sidenav-demo'" [fixed]="'true'">
  <mz-sidenav-header class="header">
    Folders
  </mz-sidenav-header>
  <div *ngFor="let sidebar of sidebars">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td width="75%">
          <mz-sidenav-link>
            <a href="#">{{ sidebar.name }}</a>
          </mz-sidenav-link>
        </td>
        <td>
          <a (click)="setDelID(sidebar._id); delFolder.open()"><i class="material-icons teal600">delete_forever</i></a>
        </td>
      </tr>
    </table>
  </div>
  <div class="centerBtn">
    <button mz-button (click)="addFolder.open()">
      Add Folder
    </button>
  </div>
</mz-sidenav>
<app-task></app-task>

<mz-modal #addFolder [fixedFooter]="true" [options]="modalOptions">
  <mz-modal-header class="modalHeader">
    Add Folder
  </mz-modal-header>
  <mz-modal-content>
    <div class="modalContent">
      <mz-input-container>
        <input mz-input type="text" id="folder" [label]="'Folder Name'" [(ngModel)]="folderValue" autofocus />
      </mz-input-container>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <table>
      <tr>
        <td class="addBtns">
          <button mz-button [flat]="true" mz-modal-close (click)="createFolders(folderValue);">
            Submit
          </button>
        </td>
        <td class="addBtns">
          <button mz-button [flat]="true" mz-modal-close>
            Close
          </button>
        </td>
      </tr>
    </table>
  </mz-modal-footer>
</mz-modal>

<mz-modal #delFolder [fixedFooter]="true" [options]="modalOptions">
  <mz-modal-header class="modalHeader">
    Delete Folder
  </mz-modal-header>
  <mz-modal-content>
    <div class="modalContent">
      Are you sure you want to delete this folder?
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <table>
      <tr>
        <td class="addBtns">
          <button mz-button [flat]="true" mz-modal-close (click)="deleteFolders();">
            Yes
          </button>
        </td>
        <td class="addBtns">
          <button mz-button [flat]="true" mz-modal-close>
            No
          </button>
        </td>
      </tr>
    </table>
  </mz-modal-footer>
</mz-modal>
