<md-sidenav-container class="sidenav-container" fullscreen>
  <h3>Folders</h3>
  <md-nav-list class="nav-list">
    <div *ngFor="let sidebar of sidebars">
      <table>
        <tr>
          <td>
            <md-list-item>{{ sidebar.name }}</md-list-item>
          </td>
          <td>
            <md-list-item a (click)="deleteFolders(sidebar._id)"><i class="fa fa-times fa-fw" aria-hidden="true"></i></md-list-item>
          </td>
        </tr>
      </table>
    </div>
  </md-nav-list>
  <div class="centerBtn">
    <button md-raised-button (click)="openDialog()">Add Folder</button>
  </div>
</md-sidenav-container>
