<mat-spinner *ngIf="!loaded"></mat-spinner>

<mat-card *ngFor="let project of projects; let i = index">
  {{ getLanguages(project.name) }}
  {{ getReadMe(project.name) }}
  <div>
    <mat-card-header>
      <img mat-card-avatar src="assets/penguin.jpg" />
      <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
      <mat-card-subtitle>{{ languages[i] }}</mat-card-subtitle>
      <mat-card-subtitle class="readMe">README.md</mat-card-subtitle>
      <mat-card-subtitle [innerHTML]="readMe[i]"></mat-card-subtitle>
    </mat-card-header>
  </div>
</mat-card>

<footer-generic></footer-generic>
