div {
  width: 80%;
  margin: auto;
}
mat-spinner {
  display: block;
  width: 50px;
  height: 50px;
  margin: 80px auto 100px;
}
mat-card-title {
  font-weight: bold;
  font-size: 20px !important;
}
mat-card-subtitle {
  font-size: 16px !important;
}
.readMe {
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}
