<div class="pages">
  <h1>Blog</h1>
  <div class="container" *ngFor="let post of posts">
    <div><img class="avatar" src="assets/penguin.jpg" /></div>
    <div class="main-text">
      <div class="title">{{ post.title }}</div>
      <div><img class="centerImg" src="{{ post.coverImage.url }}" /></div>
      <div class="excerpt"><p [innerHTML]="post.excerpt"></p></div>
      <div><button (click)="selectPost(post.slug)" class="raised-button">Read</button></div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<footer-generic></footer-generic>
