.centerImg {
  margin: auto;
  display: block;
  padding-bottom: 20px;
  width: 600px;
  height: auto;
}
div {
  width: 80%;
  margin: auto;
}
mat-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
mat-card-title {
  font-weight: bold;
  font-size: 20px !important;
  margin-bottom: 6px !important;
}
mat-card-subtitle {
  font-size: 16px !important;
}
@media screen and (max-width: 810px) {
.centerImg {
    margin: auto;
    display: block;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
  }
}
