.pages {
  width: 1080px;
}
.centerImg {
  margin: auto;
  display: block;
  padding-bottom: 20px;
  width: 600px;
  height: auto;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  padding: 24px;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  border-bottom: none;
  background-color: #FFFFFF;
}
.container:not([class*=mat-elevation-z]) {
  box-shadow: 0 1px 1px -2px rgba(0, 0, 0, .16),
  0 1px 1px 0 rgba(0, 0, 0, .14),
  0 1px 1px 0 rgba(0, 0, 0, .12);
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.main-text {
  margin: 0 8px;
}
.title {
  font-weight: 700;
  font-size: 20px;
}
.excerpt p {
  font-size: 16px;
  margin-left: -30px;
}
@media screen and (max-width: 810px) {
  .pages {
    width: 100%;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .centerImg {
    margin: auto;
    display: block;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .container {
    width: 83vw;
    padding: 15px;
    margin: 0 0 30px 0;
  }
  .title {
    font-size: 16px;
  }
  .excerpt {
    font-size: 14px;
  }
}
