.pages {
  width: 1080px;
}
.centerImg {
  margin: auto;
  display: block;
  padding-bottom: 20px;
  width: 600px;
  height: auto;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  padding: 24px;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  border-bottom: none;
}
.container:not([class*=mat-elevation-z]) {
  box-shadow: 0 1px 1px -2px rgba(0, 0, 0, .16),
  0 1px 1px 0 rgba(0, 0, 0, .14),
  0 1px 1px 0 rgba(0, 0, 0, .12);
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.main-text {
  margin: 0 8px;
}
.title {
  font-weight: 700;
  font-size: 20px;
}
.excerpt p {
  font-size: 16px;
  margin-left: -30px;
}
.raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0 0 0 -30px;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),
              box-shadow 280ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}
.raised-button:hover {
  transform:scale(1.15, 1.15);
  -webkit-transform:scale(1.15, 1.15);
  -moz-transform:scale(1.15, 1.15);
}
@media screen and (max-width: 810px) {
  .pages {
    width: 100%;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .centerImg {
    margin: auto;
    display: block;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .container {
    width: 83vw;
    padding: 15px;
    margin: 0 0 30px 0;
  }
  .title {
    font-size: 16px;
  }
  .excerpt {
    font-size: 14px;
  }
}
