<md-spinner *ngIf="!loaded"></md-spinner>

<md-card *ngFor="let post of data | async | select: post">
  <div class="pages">
    <md-card-header>
      <img md-card-avatar src="assets/penguin.jpg" />
      <md-card-title>{{ transform(post.title, 0) }}</md-card-title>
      <md-card-subtitle>{{ transform(post.title, 1) }}</md-card-subtitle>
    </md-card-header>
    <img class="centerImg" src="{{ post.sourceUrl }}" />
    <md-card-content [innerHTML]="post.excerpt"></md-card-content>
    <md-card-actions>
      <button (click)="selectPost(post.slug)" md-raised-button color="primary">Read</button>
    </md-card-actions>
  </div>
</md-card>

<footer-generic></footer-generic>
