<main>
<mz-collapsible
    [mode]="'expandable'"
    [onClose]="closeFunctionCallback"
    [onOpen]="openFunctionCallback"
    [popout]="false">
  <mz-collapsible-item>
    <mz-collapsible-item-header>
      First
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item>
    <mz-collapsible-item-header>
      First
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
</main>
