.mat-expansion-panel {
  width: 100% !important;
  background-color: darkblue;
  font-weight: bold;
}
.mat-expansion-panel-header-description {
  color: #000000;
  padding-top: 15px;
}
/deep/ .mat-expansion-panel-body {
  background-color: #FFFFFF;
}
.task-options {
  padding-left: 1510px;
}
.trash {
  padding-left: 10px;
}
