<main>
  <mz-collapsible
      [mode]="'expandable'"
      [onClose]="closeFunctionCallback"
      [onOpen]="openFunctionCallback"
      [popout]="false">
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        First
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <a><i class="material-icons teal600">done</i></a>
        &nbsp;
        <a><i class="material-icons teal600">mode_edit</i></a>
        &nbsp;
        <a><i class="material-icons teal600">delete_forever</i></a>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
      <mz-collapsible-item-header>
        Second
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <a><i class="material-icons teal600">done</i></a>
        &nbsp;
        <a><i class="material-icons teal600">mode_edit</i></a>
        &nbsp;
        <a><i class="material-icons teal600">delete_forever</i></a>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large teal">
      <i class="large material-icons">add</i>
    </a>
  </div>
</main>
