mz-collapsible {
  width: 100% !important;
}
/deep/ .collapsible {
  margin-top: 0;
  border: none;
}
/deep/ .collapsible-body {
  padding-top: 15px;
  padding-bottom: 15px;
}
/deep/ .fixed-action-btn {
  bottom: 100px;
  right: 100px;
}
@media (min-width: 991px) {
  main {
    padding-left: 200px;
  }
}
.material-icons.teal600 {
  color: teal;
}
