<div>
  <div class="container">
    <div class="pages">
      <h1>Projects</h1>
      <h2>Teacher ToolBox</h2>
      <p>
        Teacher ToolBox is a Java desktop application created by myself and 5 classmates for our capstone project.  It allows teachers to import rosters,
        add, edit, or delete student information, keeps track of attendance and grades, and runs a number of reports. We used JavaFX in the creation of the
        application. For the data storage we used SQL and a local database.
      </p>
      <h2>Homework Check-In</h2>
      <p>
        Homework Check-In is an Android application created for teachers to use in their classrooms. It allows the teacher to input their students names, which is saved to a local SQLite
        database, and then allows the students to check off their name when they turn in their homework. The teacher can then save each days list to a file that can
        then be loaded back into the app for later viewing.
      </p>
      <h2>Pretty In Pink Classic Website</h2>
      <p>
        Pretty in Pink Classic is a foundation focused on providing financial assistance to women who are uninsured or
        underinsured breast cancer patients. This website allows people to sign up for the annual fundraising event. I developed this website for them to
        use for sign ups in their yearly fundraiser. I used HTML, CSS, and Bootstrap for the frontend and PHP and SQL to handle the backend.
      </p>
    </div>
  </div>
</div>
