/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  background-color: #FFFFFF;
  color: #000000;
}
footer {
  background-color: #FFFFFF !important;
  color: #000000 !important;
  margin-bottom: 10px;
}
.navbar-inverse {
  background-color: #425B64 !important;
}
a.brand-disabled {
  cursor: hand !important;
  color: #FFFFFF !important;
}
a.brand-disabled:hover {
  color: #FFFFFF !important;
}
.pages {
  color: #000000;
  padding: 64px 0 50px 0;
}
@media screen and (min-width: 810px) {
  .pages h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 15px;
  }
  .pages p {
    font-size: larger;
  }
  .banner {
    background: url("app/img/jumbotron.png") repeat center;
    background-size: 100% 100%;
    min-height: 800px;
    margin-bottom: 20px;
  }
  .jumbotron-text {
    position: fixed;
    bottom: 100px;
    right: 100px;
    text-align: right;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 810px) {
  .pages h1 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 15px;
  }
  .pages p {
    font-size: large;
  }
  .banner {
    background: url("app/img/jumbotron.png") repeat center;
    background-size: 100% 100%;
    min-height: 600px;
    margin-bottom: 10px;
  }
  .jumbotron-text {
    position: fixed;
    bottom: 100px;
    right: 10px;
    text-align: right;
    color: #FFFFFF;
  }
}
