/* You can add global styles to this file, and also import other style files */
/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/noto-sans-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
  url('/assets/fonts/noto-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/noto-sans-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/noto-sans-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/noto-sans-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/noto-sans-v7-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #333333;
  margin: 0;
}
.pages {
  position: relative;
  width: 970px;
  color: #333333;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.pages h1 {
  text-align: center;
  font-size: 50px;
}
.pages p {
  font-size: larger;
}
@media screen and (max-width: 810px) {
  .pages {
    width: 100%;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .pages h1 {
    text-align: center;
    font-size: 35px;
  }
  .pages p {
    font-size: large;
  }
}
