/* You can add global styles to this file, and also import other style files */
/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/noto-sans-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
  url('/assets/fonts/noto-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/noto-sans-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/noto-sans-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/noto-sans-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/noto-sans-v7-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  background-image: url("/assets/circles-light.png");
  color: #333333;
  margin: 0;
}
.pages {
  position: relative;
  width: 970px;
  color: #333333;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.pages h1 {
  text-align: center;
  font-size: 50px;
}
.pages p {
  font-size: larger;
}
.raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0 0 0 -30px;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),
  box-shadow 280ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
  0 2px 2px 0 rgba(0,0,0,.14),
  0 1px 5px 0 rgba(0,0,0,.12);
}
.raised-button:not([disabled]):hover {
  transform:scale(1.15, 1.15);
  -webkit-transform:scale(1.15, 1.15);
  -moz-transform:scale(1.15, 1.15);
  cursor: pointer;
}
@media screen and (max-width: 810px) {
  .pages {
    width: 100%;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .pages h1 {
    text-align: center;
    font-size: 35px;
  }
  .pages p {
    font-size: large;
  }
}
