<div class="pages">
  <h1>Blog</h1>
  <div *ngIf="!postExist">
    <div class="container">
      <div class="main-text">
        <div class="title">No Blog Post Exist</div>
      </div>
    </div>
  </div>
  <div *ngIf="postExist">
    <div class="container" *ngFor="let post of posts">
      <div><img class="avatar" src="assets/penguin.jpg" /></div>
      <div class="main-text">
        <div class="title">{{ post.title }}</div>
        <div><img *ngIf="post.featured_image" class="centerImg" src="{{ post.featured_image }}" /></div>
        <div class="excerpt"><p>{{ post.summary }}</p></div>
        <div><button [routerLink]="[post.slug]"  class="raised-button" aria-label="Read">Read</button></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
